.header {
  padding: 16px 0;
  border-bottom: 1px solid #dee3eb;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__language {
    padding: 10px 16px 10px 12px;
    border-radius: 50px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }

    & .select-selected {
      position: relative;
      padding: 2px 26px 2px 26px;
      background-size: 18px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        height: 18px;
        width: 18px;
        background-image: url(../assets/icons/language_24px.svg);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: left center;
        transform: translateY(-50%);
      }
    }

    & .select-items {
      top: 36px;
      left: auto;
      right: -14px;
      padding: 8px 0;
      background-color: #F3F3F6;
      box-shadow: none;
    }

    & .select-items div:hover {
      background-color: #e2e2e5;
    }
  }
}
