.header {
  padding: 16px 0;
  border-bottom: 1px solid #dee3eb;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__language {
    padding-right: 16px;
    padding-left: 24px;
    background-image: url(../assets/icons/language_24px.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left center;

    & .select-selected {
      padding: 2px 26px 2px 0px;
      background-size: 18px;
    }
  }
}
