.button {
  padding: 12px 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: none;
  border-radius: 100px;
  background: #fed519;
  cursor: pointer;

  &:hover {
    background: #f4c900;
  }

  &:active {
    background: #e8bf02;
  }

  &-outlined {
    color: $black;
    border-radius: 100px;
    border: 1px solid #72787e;
    background-color: $white;

    &:hover {
      background: rgba(0, 100, 151, 0.08);
    }

    &:active {
      background: rgba(0, 100, 151, 0.12);
    }
  }
}
